flows.json
[
    {
        "id": "ec0aa3645fc66f52",
        "type": "tab",
        "label": "MQTT_WEB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57e6a970c9910311",
        "type": "group",
        "z": "ec0aa3645fc66f52",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "35d1f20d8a5e3965",
            "d99cbef72d1a3d04",
            "b9c9dae1e555f67f"
        ],
        "x": 254,
        "y": 239,
        "w": 172,
        "h": 202
    },
    {
        "id": "15377ab79ae83904",
        "type": "ui_chart",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "group": "6d7e3836d2e3e353",
        "order": 1,
        "width": "7",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b67dc29e2cbafc38",
        "type": "ui_chart",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "group": "6d7e3836d2e3e353",
        "order": 2,
        "width": "7",
        "height": "6",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2a58ea5762955aba",
        "type": "ui_gauge",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "group": "6d7e3836d2e3e353",
        "order": 4,
        "width": "7",
        "height": "6",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "052d14a493106667",
        "type": "ui_gauge",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "group": "6d7e3836d2e3e353",
        "order": 3,
        "width": "7",
        "height": "6",
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "1564d976c250bf3a",
        "type": "mqtt in",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/subscribe/fields/field2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d7b2f4f9d5e65a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "052d14a493106667",
                "15377ab79ae83904"
            ]
        ]
    },
    {
        "id": "5cf555903186f78d",
        "type": "mqtt in",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d7b2f4f9d5e65a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "b67dc29e2cbafc38",
                "2a58ea5762955aba"
            ]
        ]
    },
    {
        "id": "8a6d558e34519fa7",
        "type": "mqtt out",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d7b2f4f9d5e65a5",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd7d9669aafcd496",
        "type": "inject",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d5102a9ba8690a99"
            ]
        ]
    },
    {
        "id": "35d1f20d8a5e3965",
        "type": "ui_switch",
        "z": "ec0aa3645fc66f52",
        "g": "57e6a970c9910311",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "6e516b5086a6c6e3",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "field4=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "field4=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "8a6d558e34519fa7"
            ]
        ]
    },
    {
        "id": "d99cbef72d1a3d04",
        "type": "ui_switch",
        "z": "ec0aa3645fc66f52",
        "g": "57e6a970c9910311",
        "name": "",
        "label": "Buzzer",
        "tooltip": "",
        "group": "6e516b5086a6c6e3",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "field3=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "field3=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "8a6d558e34519fa7"
            ]
        ]
    },
    {
        "id": "b9c9dae1e555f67f",
        "type": "ui_switch",
        "z": "ec0aa3645fc66f52",
        "g": "57e6a970c9910311",
        "name": "",
        "label": "Relay",
        "tooltip": "",
        "group": "6e516b5086a6c6e3",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "field5=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "field5=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "8a6d558e34519fa7"
            ]
        ]
    },
    {
        "id": "0fd56b030f5fb241",
        "type": "ui_switch",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "label": "Auto/Manual",
        "tooltip": "",
        "group": "6e516b5086a6c6e3",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "field6=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "field6=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "8a6d558e34519fa7"
            ]
        ]
    },
    {
        "id": "989adbea09a682c5",
        "type": "mqtt in",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/subscribe/fields/field4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d7b2f4f9d5e65a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "71736a23c257a398"
            ]
        ]
    },
    {
        "id": "bc3554d0c6b2de37",
        "type": "mqtt in",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/subscribe/fields/field3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d7b2f4f9d5e65a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 700,
        "wires": [
            [
                "f936578a2a3fa30e"
            ]
        ]
    },
    {
        "id": "a3a9ded0844cd0e4",
        "type": "mqtt in",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "topic": "channels/2643589/subscribe/fields/field5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d7b2f4f9d5e65a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "2d44c76ba41d2632"
            ]
        ]
    },
    {
        "id": "147ccf68f74af897",
        "type": "ui_text",
        "z": "ec0aa3645fc66f52",
        "group": "95bdf8481fb815ba",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "0addf980eac255d0",
        "type": "ui_text",
        "z": "ec0aa3645fc66f52",
        "group": "95bdf8481fb815ba",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Buzzer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 700,
        "wires": []
    },
    {
        "id": "8325aee63c5a0842",
        "type": "ui_text",
        "z": "ec0aa3645fc66f52",
        "group": "95bdf8481fb815ba",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Relay",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "71736a23c257a398",
        "type": "function",
        "z": "ec0aa3645fc66f52",
        "name": "function 1",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 640,
        "wires": [
            [
                "147ccf68f74af897"
            ]
        ]
    },
    {
        "id": "f936578a2a3fa30e",
        "type": "function",
        "z": "ec0aa3645fc66f52",
        "name": "function 2",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 700,
        "wires": [
            [
                "0addf980eac255d0"
            ]
        ]
    },
    {
        "id": "2d44c76ba41d2632",
        "type": "function",
        "z": "ec0aa3645fc66f52",
        "name": "function 3",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"ON\";\n} else if (msg.payload == 0) {\n    msg.payload = \"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 760,
        "wires": [
            [
                "8325aee63c5a0842"
            ]
        ]
    },
    {
        "id": "d5102a9ba8690a99",
        "type": "simpletime",
        "z": "ec0aa3645fc66f52",
        "name": "",
        "mydate": true,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mymonthf": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "mydayf": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": false,
        "mytimes": true,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "bb2c50b10dc6bf3e"
            ]
        ]
    },
    {
        "id": "bb2c50b10dc6bf3e",
        "type": "ui_text",
        "z": "ec0aa3645fc66f52",
        "group": "95bdf8481fb815ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date:",
        "format": "{{msg.mydate}} / {{msg.mytimes}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d7e3836d2e3e353",
        "type": "ui_group",
        "name": "Graph",
        "tab": "4819d2c95a12c026",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d7b2f4f9d5e65a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "ChURCig6OTUTDzAPHiQBDhA",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e516b5086a6c6e3",
        "type": "ui_group",
        "name": "Control",
        "tab": "4819d2c95a12c026",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95bdf8481fb815ba",
        "type": "ui_group",
        "name": "Status",
        "tab": "4819d2c95a12c026",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4819d2c95a12c026",
        "type": "ui_tab",
        "name": "Nhóm 2 Chuyên đề IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]